{% extends "admin/change_list.html" %}
{% load admin_list %}
{% load admin_grid_list %}

{% block extrastyle %}
  {{ block.super }}
  <style>
  .sidebar {
    float: left;
    margin-right: 2%;
  }
  .group:before,
  .group:after {
    content: "";
    display: table;
  }
  .group:after {
    clear: both;
  }
  .group {
    *zoom: 1;
  }

  .proc-icon.glyphicon {
    font-size: 5em;
    margin-bottom: .1em;
    display: block;
  }
  .results.grid {
    display: flex;
    flex-wrap: wrap;
  }
  .item {
    flex: 1 200px;
    max-width: 200px;
  }
  .item-name {
    margin: 2%;
    text-align: center;
  }
  .default-icon {
    background-image: url('/static/core/img/doc.png');
    background-size: 100% 80%;
    background-repeat: no-repeat;
    padding-top: 85%;
  }
  .item img {
    display: block;
    width: 155px;
    height: 155px;
    object-fit: cover;
    margin: 5% auto;
  }
  </style>
{% endblock %}

{% block result_list %}
<div class="group">
<div class="sidebar">
  <ul class="nav nav-pills nav-stacked">
  {% for app in available_apps %}
    {% if app.app_label == "core" %}
      {% for model in app.models %}
      <li {% if model.object_name == cl.opts.object_name %}class="active"{% endif %}>
        <a href="{{ model.admin_url }}">{{ model.name }}</a>
      </li>
      {% endfor %}
    {% endif %}
  {% endfor %}
  </ul>
</div>

<div class="results grid">
  {% for item in cl.result_list %}
  <a class="item" href="{% url_for_result cl item %}">
      {% if item.icon == "" %}
        <div class="item-name default-icon">{{ item }}</div>
      {% else %}
        <div class="item-name">
          <img src="{{ item.icon.url }}">
          {{ item }}
        </div>
      {% endif %}
    </a>
  {% endfor %}
</div>
</div>
{% endblock %}
