{% extends "admin/change_list.html" %}
{% load admin_list %}

{% block extrastyle %}
  {{ block.super }}
  <style>
  .proc-icon.glyphicon {
    font-size: 5em;
    margin-bottom: .1em;
    display: block;
  }
  .results.grid {
    display: flex;
    flex-wrap: wrap;
  }
  .item {
    flex: 1 200px;
    max-width: 200px;
  }
  .item-name {
    background-image: url('/static/core/img/doc.png');
    background-size: 100% 80%;
    background-repeat: no-repeat;
    padding-top: 85%;
    margin: 2%;
    text-align: center;
  }
  </style>
{% endblock %}

{% block result_list %}
<div class="results grid">
  {% for item in cl.result_list %}
    <a class="item" href="/admin/core/proc/{{ item.id }}/change/">
      <div class="item-name">{{ item }}</div>
    </a>
  {% endfor %}
</div>
{% endblock %}
